body {
	font-size: 14px;
	font-family: Consolas;
	color: black;
}
.center {
	margin: auto;
	width : 85%;
}
.app {
	padding: 0;
    text-align: center;
    height: 100%;
    max-width: 1280px;
}
.header {
	background-color:#42A0FF;
	color: white;
	text-align:left;
	padding:5px;
    height: 20%;
    font-size: 12pt;
    font-style: italic;
    text-decoration: underline;
}
.navTitle {
    display: inline-block;
    font-weight: bold;
    font-size: 15pt;
    background-color: #B4B4B4;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.currentLink {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 13pt;
    background-color: #C1EA4F;
    text-align: left;
    padding: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}
.nav {
	line-height:30px;
	background-color:#eeeeee;
	width:25%;
    float:left;
    padding-right: 1;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.nav ul li a {
    display: block;
    height: 100%;
    width: 100%;
    float: left;
}
.nav ul li a:hover,a:active {
    background-color: #7CCB3D;
}
.section {
	color: black;
	width:72%;
	float:right;
	text-align: left;
}
.footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
   	padding:5px;	 	 
}
.button {
    display: inline-block;
    border: 1px solid red;
    background-color: #7CCB3D;
    line-height:30px;
    cursor: pointer;
}
.button2 {
    line-height: 30px;
}
.button2 a {
    display: inline-block;
    border: 1px solid red;
    background-color: #7CCB3D;
    cursor: pointer;
}
.button2 a:hover,a:active {
    background-color: #cc0000;
}
.catalog {
    width: 100%;
    background-color: #B1E1FD;
    text-align: left;
    margin: 0;
    padding: 0;
}
.catalog a {
    display: block;
    height: 100%;
    width: 100%;
    float: left;
    background-color: #B1E1FD;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
.catalog a:hover,a:active {
    background-color: #4A935D;
}
