body {
	font-size: 14px;
	font-family: Consolas;
	color: black;
}
.center {
	margin: auto;
	width : 85%;
}
.app {
    padding: 0;
    text-align: center;
    height: 100%;
    max-width: 1280px;
    min-height: 900px;
}
.header {
	background-color:#42A0FF;
	color: white;
	text-align:left;
	padding:5px;
    height: 20%;
    font-size: 12pt;
    font-style: italic;
    text-decoration: underline;
    clear: both;
    margin-bottom: 15px;
    border-bottom: solid 6px #6398BC;
}
.footer {
    background-color:#42A0FF;
	color: white;
	text-align:left;
    height: 10%;
    font-size: 12pt;
    font-style: blod;
    clear:both;
	text-align:center;
    padding:5px;
    margin-top: 15px;
    border-top: solid 5px #6398BC;
}
.navTitle {
    display: inline-block;
    font-weight: bold;
    font-size: 15pt;
    background-color: #B4B4B4;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: solid 3px #8DC84D;
}
.currentLink {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 13pt;
    background-color: #C1EA4F;
    text-align: left;
    padding: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    border-bottom: solid 3px #96B97D;
}
.nav {
	line-height:30px;
	background-color:#eeeeee;
    width:25%;
    float:left;
    padding-right: 1;
    overflow: scroll;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;
}
.nav ul li a {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.nav ul li a:hover,a:active {
    background-color: #7CCB3D;
}
.section {
	color: black;
	width:73%;
	float:right;
    text-align: left;
}
.button {
    display: inline-block;
    border: 1px solid red;
    background-color: #7CCB3D;
    line-height:30px;
    cursor: pointer;
}
.button2 {
    line-height: 30px;
}
.button2 a {
    display: inline-block;
    border: 1px solid red;
    background-color: #7CCB3D;
    cursor: pointer;
}
.button2 a:hover,a:active {
    background-color: #cc0000;
}
.catalog {
    width: 100%;
    background-color: #B1E1FD;
    text-align: left;
    margin: 0;
    padding: 0;
}
.catalog a {
    display: block;
    height: 100%;
    width: 100%;
    float: left;
    background-color: #B1E1FD;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
.catalog a:hover,a:active {
    background-color: #4A935D;
}

.clear {
    clear : both;
}

.show {
    display : block;
}

.hide {
    display : none;
}

.button3 {
    width: 60px;
}

.red .button3 {
    background-color: red;
}

.blue .button3 {
    background-color: blue;
}


